@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;500;600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-grey: #A9A9A9;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Familjen Grotesk', sans-serif;
  background-color: var(--clr-white);
  margin: 0;
  padding: 0;
}

/* global css */
a {
  text-decoration: none;
  color: var(--clr-white);
}

li {
  list-style: none;
}

/* Custom CSS */

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  padding: 15px 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 210px;
}

.logo img {
  width: 100%;
  height: auto;
}

.menu ul {
  display: flex;
  align-items: center;
}

.menu ul li {
  margin-left: 20px;
}

.menu ul li a {
  position: relative;
  text-decoration: none;
  color: var(--clr-white);
}

.menu ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.5px;
  background-color: var(--clr-white);
  transition: width 0.2s;
}

.menu ul li a:hover::before {
  width: 100%;
}

.hamburger {
  display: none;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .navbar {
    padding: 25px 20px;
  }

  .logo {
    width: 120px;
  }

  .menu {
    display: none;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }

  .bar {
    width: 23px;
    height: 2px;
    background-color: var(--clr-white);
    margin: 3px 0;
  }
}