@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;500;600&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-grey: #A9A9A9;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Familjen Grotesk', sans-serif;
  background-color: var(--clr-white);
}

/* global css */
img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  /* customize */
  background-color: transparent;
  color: white;
  border: 2px solid var(--clr-white);
}

@media screen and (min-width: 576px) {}

/* Medium devices (tablets) */

@media (min-width: 768px) {}

/* Large devices (desktops) */

@media (min-width: 991px) {}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {}